h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#display {
    display: flex;
    border: solid;
    margin-left: 25%;
    margin-right: 25%;
}

#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

.number {
    flex: 1;
    width: 10px;
    aspect-ratio: 1/1;
}